html, body {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 100px 1fr 150px;
}

header {
    border-bottom: 2px solid #000000;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #B21717;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;

}

footer > a {
    width: 80%;
    max-width: 400px;
    
}

footer button {
    width: 100%;
    border: none;
    background-color: #B21717;
    color: #ffffff;
    height: 60px;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

main > span {
    margin-top: 60px;
    
}

main > p {
    width: 90%;
    max-width: 400px;
    margin-top: 40px;
}